---
- name: Downloading {{ k3s_url }} to {{ k3s_installed_exe }}
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: '{{ k3s_url }}'
    dest: '{{ k3s_installed_exe }}'
    mode: '755'
- name: Linking {{ k3s_link }} to {{ k3s_installed_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ k3s_installed_exe }}'
    dest: '{{ k3s_link }}'
    state: link
